@model DataAccess.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Profile</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>   
            <tr>
                <td>
                @* @Html.DisplayFor(modelItem => modelItem.UserId) *@
                @Model.UserId
                </td>
                <td>
                    @Model.Email
                </td>
                <td>
                    @Model.Password
                </td>
                <td>
                    @Model.UserName
                </td>
                <td>
                    @Model.Phone
                </td>
                <td>
                    @Model.Country
                </td>
                <td>
                <a asp-controller="home" asp-action="updateUser" asp-route-id="@Model.UserId">Update Information</a>
                </td>
            </tr>      
    </tbody>
</table>